# .gitignore
# This file specifies intentionally untracked files that Git should ignore.

# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc

# Virtual environment directory
.venv/
env/
venv/

# Generated data files
*.csv
*.parquet
